{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link href="{% static '/css/style.css' %}" rel="stylesheet">

<div class="container">
    <div class="cus_l_gn">
     <div class="cus_login_tile">
            <h2>School Ease</h2>

        </div>
    <div class="cus_tx1"> <h2>Login</h2>
{% load static %}
    <form method="POST">
  {% csrf_token %}
        <div class="cudtom_usr_pass">
        {{ form.as_p }}
        </div>
        <br>
        <p><a href="{% url 'password_reset' %}">Forgot Password</a>  </p><br>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="reset">Reset</button><br>
<br>
                <p><a href="{% url 'signup' %}">Signup</a>  </p>


    </form>
    </div>
<br>
</div>
    <br>
</div>

{% endblock %}
